@import "hello";

.one {
  background-color: green;
  .two {
    background-color: blue;
    .three {
      background-color: red;      
    }
  }
}

// configure bootstrap...

@import "bootstrap";
@import "bootstrap/theme";